/* Global style */

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-family: monospace;
  text-align: center;
}

button {
  margin: 0;
  border: none;
  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 10px;
}

.header img {
  float: left;
}

.productGrid {
  margin: auto;
  max-width: 880px;
  display: grid;
  padding: 20px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding-top: 70px;
  padding-bottom: 70px;
}

.productItem {
  display: inline-block;
  width: 200px;
  height: 385px;
  text-align: center;
  background-color: lightgray;
}

.productPhoto {
  width: 200px;
}

.productName {
  margin-top: -25px;
  margin-left: 25px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: black;
  width: 70px;
  padding: 10px 40px;
  position: absolute;
}

.productPrice {
  font-weight: bold;
  padding: 30px;
}

.buyButton {
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: black;
  width: 200px;
  height: 40px;
}

.footer {
  color: white;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  font-size: 12px;
  font-family: serif;
  text-align: center;
  padding: 20px;
}
